.App {
  text-align: center;
}
.navbar {
  background-color: #2e8a99;
}
.countryDetailCard {
  display: flex;
  flex-direction: column;
}
.dark-mode {
  background-color: #333;
  color: #fff;
}
.dark-mode .custom-table {
  color: white;
}
.dark-mode .custom-card {
  color: black;
}
.custom-table a {
  text-decoration: none;
  color: black;
}
